{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4>Reset Password Complete</h4>
            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" frameborder="0" height="200" width="200"
                    allowfullScreen class="giphy-embed"></iframe></div>
        </div>
    </div>
</div>
{% endblock main-content %}
<!-- 'pass reset complete' is 4th step of password reset,'password-reset-confirm' is 3rd step of pass reset,'passresetdone' is 2nd,'passreset' is 1st-->